node_modules/
dist/
.env
server/data/
*.log
*.png
!client/public/miyo.png
!client/public/gatmiyo.png
!client/public/mudduk-miyo.png
!client/public/hunsu-miyo.png
!client/public/sachungi-miyo.png
!client/public/ppak-miyo.png
